<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AddBook</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
        body {
            background: url('https://res.cloudinary.com/bookstoreproject/image/upload/v1555785012/vet/adorable-animal-cat-1383397.jpg') fixed;
            background-size: cover;
        }

        .dropdown {
            margin-left: 20px;
        }

        .btn-secondary {
            width: 180px;
        }

        li {
            margin-left: 20px;
        }
    </style>
</head>
<body>
<div class="container" style="background-color: white; margin-top: 40px">
    <form class="text-center border border-light p-5"
          action="/vet_clinic/admin/add_service" method="POST">
        <p class="h4 mb-4">Add new service</p>
        <div class="form-group">
            <label for="name">Service name</label>
            <input name="name" type="text" class="form-control mb-4" id="name"
                   placeholder="Enter name">
        </div>

        <div class="form-group">
            <label> Select kind of service : <br/>
                <select name="kindOfServiceId" class="selectpicker"
                        title="Choose kind of service" data-live-search="true">
                    <option th:each="kind : ${kinds}"
                            th:text="${kind.name}"
                            th:value="${kind.id}">
                    </option>
                </select>
            </label>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input name="price" type="text" class="form-control mb-4" id="price"
                   placeholder="Enter price">
        </div>

        <button class="btn btn-info btn-block my-4" type="submit">Submit
        </button>
    </form>
</div>
</body>
</html>