<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete author</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <style>
        body {
            background: url('https://res.cloudinary.com/bookstoreproject/image/upload/v1555785012/vet/adorable-animal-cat-1383397.jpg') fixed;
            background-size: cover;
        }

        .dropdown {
            margin-left: 20px;
        }

        .btn-secondary {
            width: 180px;
        }

        li {
            margin-left: 20px;
        }
    </style>
</head>
<body>
<div class="container" style="background-color: white; margin-top: 40px">
    <form class="text-center border border-light p-5"
          action="/vet_clinic/admin/delete_kind" method="POST">
        <p class="h4 mb-4">Delete kind of service</p>
        <div class="form-group">
            <label> Select kind of service : <br/>
                <select name="id" class="selectpicker" title="Choose kind"
                        data-live-search="true" id="selectKind">
                    <option th:each="kind : ${kinds}"
                            th:text="${kind.name}"
                            th:value="${kind.id}">
                    </option>
                </select>
            </label>
        </div>
        <button class="btn btn-info btn-block my-4" type="submit">Submit
        </button>
    </form>
</div>
</body>
</html>