<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete author</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="/css/body.css"/>
    <link rel="stylesheet" href="/css/admin.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/bookstore">BookStore</a>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Add
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/bookstore/admin/addBook">Add new book</a></li>
            <li><a href="/bookstore/admin/addAuthor">Add new author</a></li>
            <li><a href="/bookstore/admin/addPublishingHouse">Add new publishing house</a></li>
            <li><a href="/bookstore/admin/addTypeOfLiterature">Add new type of literature</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            Update
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/bookstore/admin/updateBook">Update book</a></li>
            <li><a href="/bookstore/admin/updateAuthor">Update author</a></li>
            <li><a href="/bookstore/admin/updatePublishingHouse">Update publishing house</a></li>
            <li><a href="/bookstore/admin/updateTypeOfLiterature">Update type of literature</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            Delete
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/bookstore/admin/deleteBook">Delete book</a></li>
            <li><a href="/bookstore/admin/deleteAuthor">Delete author</a></li>
            <li><a href="/bookstore/admin/deletePublishingHouse">Delete publishing house</a></li>
            <li><a href="/bookstore/admin/deleteTypeOfLiterature">Delete type of literature</a></li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/bookstore/admin"> Main page <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/bookstore/admin/order"> Orders <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/bookstore/admin/report"> Reports <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/bookstore/admin/addCount"> Add count for book <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="background-color: white; margin-top: 40px">
    <form class="text-center border border-light p-5" action="/bookstore/admin/deleteAuthor" method="POST">
        <p class="h4 mb-4">Delete author</p>
        <div class="form-group">
            <label> Select Author : <br/>
                <select name="id" class="selectpicker" title="Choose author" data-live-search="true" id = "selectAuthor">
                    <option th:each="author : ${authors}"
                            th:text="${author.fullName}"
                            th:value="${author.id}">
                    </option>
                </select>
            </label>
        </div>
        <button class="btn btn-info btn-block my-4" type="submit">Submit</button>
    </form>
</div>
</body>
</html>