<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SERVICES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background: url('https://res.cloudinary.com/bookstoreproject/image/upload/v1555785012/vet/adorable-animal-cat-1383397.jpg') fixed;
            background-size: cover;
        }
    </style>
    <script>

    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/vet_clinic">VET CLINIC</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/vet_clinic">Main page <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vet_clinic/services">SERVICES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vet_clinic/add_pet">ADD PET</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vet_clinic/record">RECORD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vet_clinic/my_pets">MY PATS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vet_clinic/meetings">MEETINGS</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" href="/vet_clinic/admin">ADMIN<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto" style="margin-left: 450px">
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="/vet_clinic/registration">REGISTRATION
                    <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="/vet_clinic/login">SIGN IN<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">LOGOUT<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light"
     style="margin-top: 10px">
    <div class="collapse navbar-collapse">
        <h3 id="title">SERVICES</h3>
    </div>
</nav>
<div class="container" style="background-color: white; margin-top: 40px">
    <div class="card" th:each="service : ${services}">
        <div class="card-header" th:text="${service.name}">
        </div>
        <div class="card-body">
            <p class="card-text"
               th:text="${service.kindOfServiceDescription}"></p>
            <h5 class="card-title">Price : <h5 class="card-title"
                                               th:text="@{{price}$(price=${service.price})}"></h5>
            </h5>
        </div>
    </div>
</div>
</body>
</html>